<template>
  <nav class="navbar navbar-expand navbar-light bg-light sticky-top">
    <div class="container">
      <router-link
        to="/"
        class="navbar-brand"
      >
        # Challenge-Store
      </router-link>
      <div class="navbar-nav mr-auto">
        <li
          v-if="!isAuthenticated"
          class="nav-item"
        >
          <router-link
            to="/login"
            class="nav-link"
          >
            <i class="fa fa-user" />
            Login
          </router-link>
        </li>
        <li
          v-if="!isAuthenticated"
          class="nav-item"
        >
          <router-link
            to="/register"
            class="nav-link"
          >
            <i class="fa fa-plus" />
            Sign Up
          </router-link>
        </li>
        <li
          v-if="isAuthenticated"
          class="nav-item"
        >
          <router-link
            to="/products"
            class="nav-link"
          >
            <i class="fa fa-shopping-cart" />
            Products
          </router-link>
        </li>
        <li
          v-if="isAuthenticated"
          class="nav-item"
        >
          <router-link
            to="/products/create"
            class="nav-link"
          >
            <i class="fa fa-plus-circle" /> Add
          </router-link>
        </li>
        <li class="nav-item">
          <router-link
            to="/about"
            class="nav-link"
          >
            <i class="fa fa-info-circle" />
            About
          </router-link>
        </li>
        <li class="nav-item">
          <router-link
            to="/help"
            class="nav-link"
          >
            <i class="fa fa-question-circle" />
            Help
          </router-link>
        </li>
        <li
          v-if="isAuthenticated"
          class="nav-item"
        >
          <a
            class="nav-link"
            @click="signOutUser"
          >
            <i class="fa fa-user" />
            Sign Out
          </a>
        </li>
      </div>
    </div>
  </nav>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  name: "HeaderPartial",
  computed: { ...mapGetters("auth",["isAuthenticated"]) },
  methods:{
    ...mapActions("auth",["signOut"]),
    async signOutUser() {
      await this.signOut()
      this.$router.push('/login')
    }
  }
};
</script>
