<template>
  <div class="container">
    <div class="card">
      <div class="card-header">
        <h6>Add Product</h6>
      </div>
      <div class="card-body">
        <VeeForm
          :validation-schema="schema"
          @submit="onSubmit"
        >
          <div class="form-group row my-1">
            <div class="col-6">
              <label>Product Name:</label>
              <Field
                id="name"
                v-model="product.name"
                name="name"
                type="text"
                class="form-control"
              />
              <ErrorMessage
                name="name"
                class="text-capitalize text-danger"
              />
            </div>
            <div class="col-6">
              <label>Product Price:</label>
              <Field
                v-model="product.price"
                name="price"
                type="number"
                class="form-control"
              />
              <ErrorMessage
                name="price"
                class="text-capitalize text-danger"
              />
            </div>
          </div>
          <div class="form-group row my-1">
            <div class="col-6">
              <label>Product sku:</label>
              <Field
                id="sku"
                v-model="product.sku"
                name="sku"
                type="text"
                class="form-control"
              />
              <ErrorMessage
                name="sku"
                class="text-capitalize text-danger"
              />
            </div>
            <div class="col-6">
              <label>Product quantity:</label>
              <Field
                v-model="product.quantity"
                name="quantity"
                type="number"
                class="form-control"
              />
              <ErrorMessage
                name="quantity"
                class="text-capitalize text-danger"
              />
            </div>
          </div>
          <div class="form-group">
            <router-link
              to="/products"
              class="btn btn-secondary mr-2"
            >
              Cancel
            </router-link>
            <input
              v-if="!isCreating"
              type="submit"
              class="btn btn-primary mx-2 my-2"
              value="Add Product"
            >
            <button
              v-if="isCreating"
              class="btn btn-primary mx-2 my-2"
              type="button"
              disabled
            >
              <span
                class="spinner-border spinner-border-sm"
                role="status"
                aria-hidden="true"
              />
              Saving...
            </button>
          </div>
        </VeeForm>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import { Field, Form as VeeForm, ErrorMessage } from "vee-validate";
import * as yup from "yup";

export default {
  components: {
    Field,
    VeeForm,
    ErrorMessage,
  },

  setup() {
    // Define a validation schema
    const schema = yup.object({
      name: yup.string().required(),
      price: yup.number().required(),
      sku: yup.string().required(),
      quantity: yup.number().required(),
    });

    return {
      schema,
    };
  },

  data() {
    return {
      product: {},
    };
  },

  computed: { ...mapGetters("product",["isCreating", "createdData","getError"]) },

  watch: {
    isCreating: function () {
      if (this.createdData !== null && !this.isCreating) {
        this.$swal.fire({
          text: "Success, Product has been added.",
          icon: "success",
          position: "top-end",
          timer: 3000,
        });

        this.$router.push({ name: "Products" });
      } else {
        this.$swal.fire({
          text: this.getError,
          icon: "error",
          position: "top-end",
          timer: 3000,
        });
      }
    },
  },

  methods: {
    ...mapActions("product",["storeProduct"]),
    onSubmit() {
      const { name, price, sku, quantity } = this.product;
      this.storeProduct({ name, price: Number(price), sku, quantity:Number(quantity) });
    },
  },
};
</script>
