<template>
  <div class="container">
    <div class="card">
      <div class="card-header">
        <h6>Edit Product</h6>
      </div>
      <div class="card-body">
        <VeeForm
          :validation-schema="schema"
          @submit="onSubmit"
        >
          <div v-if="isLoading">
            <div class="text-center">
              <div
                class="spinner-border text-primary"
                role="status"
              >
                <span class="sr-only">Loading...</span>
              </div>
              <br>
              Loading Product Details
            </div>
          </div>
          <div v-if="product !== null && !isLoading">
            <div class="form-group row">
              <div class="col-6 my-1">
                <label>Product Name:</label>
                <Field
                  id="name"
                  name="name"
                  type="text"
                  class="form-control"
                  :value="product.name"
                  @input="updateProductInputAction"
                />
                <ErrorMessage
                  name="name"
                  class="text-capitalize text-danger"
                />
              </div>
              <div class="col-6">
                <label>Product Price:</label>
                <Field
                  name="price"
                  type="number"
                  class="form-control"
                  :value="product.price"
                  @input="updateProductInputAction"
                />
                <ErrorMessage
                  name="price"
                  class="text-capitalize text-danger"
                />
              </div>
            </div>
            <div class="form-group row my-1">
              <div class="col-6 my-1">
                <label>Product sku:</label>
                <Field
                  id="sku"
                  name="sku"
                  type="text"
                  class="form-control"
                  :value="product.sku"
                  @input="updateProductInputAction"
                />
                <ErrorMessage
                  name="sku"
                  class="text-capitalize text-danger"
                />
              </div>
              <div class="col-6">
                <label>Product quantity:</label>
                <Field
                  name="quantity"
                  type="number"
                  class="form-control"
                  :value="product.quantity"
                  @input="updateProductInputAction"
                />
                <ErrorMessage
                  name="quantity"
                  class="text-capitalize text-danger"
                />
              </div>
            </div>
            <div class="form-group my-3">
              <router-link
                to="/products"
                class="btn btn-secondary mr-2"
              >
                Cancel
              </router-link>
              <input
                v-if="!isUpdating"
                type="submit"
                class="btn btn-primary mx-2"
                value="Save Update"
              >
              <button
                v-if="isUpdating"
                class="btn btn-primary"
                type="button"
                disabled
              >
                <span
                  class="spinner-border spinner-border-sm"
                  role="status"
                  aria-hidden="true"
                />
                Saving...
              </button>
            </div>
          </div>
        </VeeForm>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import { Field, Form as VeeForm, ErrorMessage } from "vee-validate";
import * as yup from "yup";

export default {
  components: {
    Field,
    VeeForm,
    ErrorMessage,
  },
  setup() {
    // Define a validation schema
    const schema = yup.object({
      name: yup.string().required(),
      price: yup.number().required(),
      sku: yup.string().required(),
      quantity: yup.number().required()
    });

    return {
      schema,
    };
  },

  data() {
    return {
      id: null,
    };
  },

  computed: {
    ...mapGetters("product",["isUpdating", "updatedData", "product", "isLoading","getError"]),
  },

  watch: {
    isUpdating: function () {
      if (this.updatedData !== null && !this.isUpdating) {
        this.$swal.fire({
          text: "Success, Product has been updated successfully !",
          icon: "success",
          position: "top-end",
          timer: 1000,
        });

        this.$router.push({ name: "Products" });
      } else {
        this.$swal.fire({
          text: this.getError,
          icon: "error",
          position: "top-end",
          timer: 3000,
        });
      }
    },
  },

  created: function () {
    this.id = this.$route.params.id;
    this.fetchDetailProduct(this.id);
  },

  methods: {
    ...mapActions("product",[
      "updateProduct",
      "updateProductInput",
      "fetchDetailProduct",
    ]),
    onSubmit() {
      const { name, price, sku, quantity } = this.product;
      // return false;
      this.updateProduct({
        id: this.id,
        name, 
        price,
        sku,
        quantity
      });
    },
    updateProductInputAction(e) {
      this.updateProductInput(e);
    },
  },
};
</script>
