<template>
  <div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card col-8 ">
      <div class="card-header">
        <h6>Login</h6>
      </div>
      <div class="card-body">
        <VeeForm
          :validation-schema="schema"
          @submit="signInUser"
        >
          <div class="form-group row my-1">
            <div class="col-12">
              <label>Email:</label>
              <Field
                id="email"
                v-model="user.email"
                name="email"
                type="text"
                class="form-control"
              />
              <ErrorMessage
                name="email"
                class="text-capitalize text-danger"
              />
            </div>
            <div class="col-12">
              <label>Password:</label>
              <Field
                v-model="user.password"
                name="password"
                type="password"
                class="form-control"
              />
              <ErrorMessage
                name="password"
                class="text-capitalize text-danger"
              />
            </div>
          </div>
          <div class="form-group">
            <router-link
              to="/register"
              class="btn btn-secondary mr-2"
            >
              Sign Up
            </router-link>
            <input
              v-if="!isCreating"
              type="submit"
              class="btn btn-primary mx-2 my-2"
              value="Sign In"
            >
            <button
              v-if="isCreating"
              class="btn btn-primary mx-2 my-2"
              type="button"
              disabled
            >
              <span
                class="spinner-border spinner-border-sm"
                role="status"
                aria-hidden="true"
              />
              Sign In...
            </button>
          </div>
        </VeeForm>
      </div>
    </div>
  </div>
</template>
  
  <script>
  import { mapActions, mapGetters } from "vuex";
  import { Field, Form as VeeForm, ErrorMessage } from "vee-validate";
  import * as yup from "yup";
  
  export default {
    components: {
      Field,
      VeeForm,
      ErrorMessage,
    },
  
    setup() {
      // Define a validation schema
      const schema = yup.object({
        email: yup.string().required(),
        password: yup.string().required(),
      });
  
      return {
        schema,
      };
    },
  
    data() {
      return {
        user: {},
      };
    },
  
    computed: { ...mapGetters("auth",["isCreating","getError", "getToken"]) },
  
    watch: {
        isCreating: function () {
        if (!this.isCreating && this.getToken !== null) {
          this.$swal.fire({
            text: "Success, Sign In.",
            icon: "success",
            position: "top-end",
            timer: 3000,
          });
  
          this.$router.push({ name: "Products" });
        } else {
            this.$swal.fire({
            text: this.getError,
            icon: "error",
            position: "top-end",
            timer: 3000,
          });
        }
      },
    },
  
    methods: {
      ...mapActions("auth",["signIn"]),
      signInUser() {
        const { email, password } = this.user;
        this.signIn({
          email,
          password
        });
      },
    },
  };
  </script>
  