<template>
  <div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card col-8 ">
      <div class="card-header">
        <h6>Sign Up</h6>
      </div>
      <div class="card-body">
        <!-- <form v-on:submit.prevent="onSaveProduct" :validation-schema="schema"> -->
        <VeeForm
          :validation-schema="schema"
          @submit="signUpUser"
        >
          <!-- <Form @submit="onSaveProduct" :validation-schema="schema"> -->
          <div class="form-group row my-1">
            <div class="col-12">
              <label>Name:</label>
              <Field
                id="name"
                v-model="user.name"
                name="name"
                type="text"
                class="form-control"
              />
              <ErrorMessage
                name="name"
                class="text-capitalize text-danger"
              />
            </div>
            <div class="col-12">
              <label>Email:</label>
              <Field
                id="email"
                v-model="user.email"
                name="email"
                type="text"
                class="form-control"
              />
              <ErrorMessage
                name="email"
                class="text-capitalize text-danger"
              />
            </div>
            <div class="col-12">
              <label>Password</label>
              <Field
                v-model="user.password"
                name="password"
                type="password"
                class="form-control"
              />
              <ErrorMessage
                name="password"
                class="text-capitalize text-danger"
              />
            </div>
          </div>
          <div class="form-group row my-1">
            <div class="col-12">
              <label>Confirm password:</label>
              <Field
                v-model="user.confirmPassword"
                name="confirmPassword"
                class="form-control"
                rules="required|confirmed:password"
                type="password"
              />
              <ErrorMessage
                name="confirmPassword"
                class="text-capitalize text-danger"
              />
            </div>
          </div>
          <div class="form-group">
            <router-link
              to="/login"
              class="btn btn-secondary mr-2"
            >
              Sign in
            </router-link>
            <input
              v-if="!isCreating"
              type="submit"
              class="btn btn-primary mx-2 my-2"
              value="Sign Up"
            >
            <button
              v-if="isCreating"
              class="btn btn-primary mx-2 my-2"
              type="button"
              disabled
            >
              <span
                class="spinner-border spinner-border-sm"
                role="status"
                aria-hidden="true"
              />
              Saving...
            </button>
          </div>
        </VeeForm>
      </div>
    </div>
  </div>
</template>
  
  <script>
  import { mapActions, mapGetters } from "vuex";
  import { Field, Form as VeeForm, ErrorMessage } from "vee-validate";
  import * as yup from "yup";
  
  export default {
    components: {
      Field,
      VeeForm,
      ErrorMessage,
    },
  
    setup() {
      // Define a validation schema
      const schema = yup.object({
        name: yup.string().required(),
        email: yup.string().required(),
        password: yup.string().required(),
        confirmPassword: yup
        .string()
        .oneOf([yup.ref('password'), null], 'The confirmation password must be the same')
        .required(),
      });
  
      return {
        schema,
      };
    },
  
    data() {
      return {
        user: {},
      };
    },
  
    computed: { ...mapGetters("auth",["isCreating","getError","getToken"]) },
  
    watch: {
        isCreating: function () {
        if ( !this.isCreating && this.getToken!==null) {
          this.$swal.fire({
            text: "Success, Sign up has been success.",
            icon: "success",
            position: "top-end",
            timer: 3000,
          });
  
          this.$router.push({ name: "Products" });
        } else {
            this.$swal.fire({
            text: this.getError,
            icon: "error",
            position: "top-end",
            timer: 3000,
          });
        }
      },
    },
  
    methods: {
      ...mapActions("auth",["signUp"]),
      async signUpUser() {
        const { email, password, name } = this.user;
        await this.signUp({
          name,  
          email,
          password,
          role: 'seller'
        });
        
      },
    },
  };
  </script>
  