<template>
  <div class="container">
    <div class="row justify-content-center mt-2 mb-2">
      <div class="col-8">
        <h4 class="text-left mb-2">
          All Products
        </h4>
      </div>
      <div class="row mt-5">
        <div class="form-group col-6">
          <label for="name">Product Name</label>
          <input
            id="name"
            v-model="query.name"
            type="text"
            class="form-control"
            placeholder="name"
          >
        </div>
        <div class="form-group col-6">
          <label for="sku">Product SKu</label>
          <input
            id="sku"
            v-model="query.sku"
            type="text"
            class="form-control"
            placeholder="sku"
          >
        </div>
        <div class="form-group col-6">
          <label for="from">Product price from</label>
          <input
            id="from"
            v-model="query.from"
            type="number"
            class="form-control"
            placeholder="from"
          >
        </div>
        <div class="form-group col-6">
          <label for="to">Product price to</label>
          <input
            id="to"
            v-model="query.to"
            type="number"
            class="form-control"
            placeholder="to"
          >
        </div>
        <div class="form-group col-6">
          <label for="sellerId">Product seller id</label>
          <input
            id="sellerId"
            v-model="query.sellerId"
            type="text"
            class="form-control"
            placeholder="sellerId"
          >
        </div>
        <div class="form-group col-3 mt-5">
          <button
            type="button"
            class="btn btn-primary mx-5"
            @click="searchProducts"
          >
            Filter
          </button>
          <button
            type="button"
            class="btn btn-primary"
            @click="getResults"
          >
            Clear
          </button>
        </div>
      </div>
    </div>
    <div class="mt-5">
      <div
        v-if="!isLoading"
        class=""
      >
        <div class="row border-bottom border-top p-2 bg-light">
          <div class="col-1">
            Id
          </div>
          <div class="col-2">
            Product Price
          </div>
          <div class="col-2">
            Product sku
          </div>
          <div class="col-4">
            Seller Id
          </div>
          <div class="col-2">
            Actions
          </div>
        </div>

        <div
          v-for="(item, index) in productsPaginatedData.results"
          :key="item.id"
        >
          <product-detail
            :index="index"
            :product="item"
          />
        </div>
      </div>

      <div
        v-if="isLoading"
        class="text-center mt-5 mb-5"
      >
        Loading Products...
        <div
          class="spinner-grow"
          role="status"
        >
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>

    <!-- Insert Pagination Part -->
    <div
      v-if="productsPaginatedData !== null"
      class="vertical-center mt-2 mb-5"
    >
      <v-pagination
        v-model="query.page"
        :pages="productsPaginatedData.pagination.total_pages"
        :range-size="2"
        active-color="#DCEDFF"
        @update:modelValue="getResults"
      />
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import ProductDetail from "../list/ProductDetail";
import VPagination from "@hennge/vue3-pagination";

export default {
  components: {
    ProductDetail,
    VPagination,
  },
  data() {
    return {
      query: {
        page: 1,
        search: "",
        name: null,
        sku: null,
        from: null,
        to: null,
        sellerId: null
      },
    };
  },
  computed: { ...mapGetters("product",["productList", "productsPaginatedData", "isLoading"]) },

  methods: {
    ...mapActions("product",["fetchAllProducts"]),

    getResults() {
      this.query = {
        page: 1,
        search: "",
        name: null,
        sku: null,
        from: null,
        to: null,
        sellerId: null
      }
      this.fetchAllProducts(this.query);
    },

    searchProducts() {
      if(
          !this.query.name && !this.query.sku && !this.query.from && !this.query.to && !this.query.sellerId
          || this.query.from && !this.query.to 
          || !this.query.from && this.query.to 
        )
        {
        this.$swal.fire({
            text: 'Field name/sku/from/to must have value for filter',
            icon: "error",
            position: "top-end",
            timer: 3000,
          });
      } else {
        this.fetchAllProducts(this.query);
      }
      
    },
  },

  created() {
    this.fetchAllProducts(this.query);
  },
};
</script>
